img{
    width: 100px;
    height: 100px;
}

.sidebar {
  position: fixed;
  left: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  z-index:1000;
  overflow-x: hidden;
  background: #f0b4b4;
  border-right: 1px solid #eee;
  padding: 20px;
}

.sidebar .nav-link:hover{
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    
}

.content{
    margin-left: 225px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.btn{
    font-size: xx-large;
    padding: 100px;
}

